{% extends "home/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %} 
<body>
<div class="upper-navbar">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'home' %}">Stoma</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container-fluid">
<div class="row">
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
<div class="sidebar-sticky">
<ul class="nav flex-column">
<li class="nav-item">
<a class="nav-link" href="{% url 'home' %}">
<span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="{% url 'display_pea' %}">
<span data-feather="shopping-cart"></span>
              PEA
            </a>
</li>
<li class="nav-item">
<a class="nav-link" href="">
<span data-feather="shopping-cart"></span>
              Immobilier
            </a>
</li>
<hr/>
<li class="nav-item">
<a class="nav-link" href="{% url 'profile' %}">
<span data-feather="users"></span>
              Profil
</a>
</ul>
</div>
</nav>
</div>
</div>
<main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h2">Mes PEA</h1>
<div class="btn-toolbar mb-2 mb-md-0">
<div class="btn-group mr-2">
<button class="btn btn-sm btn-outline-secondary" type="button">Share</button>
</div>
<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button">
<span data-feather="calendar"></span>
            This week
          </button>
</div>
</div>
<!-- ./HEADER -->
    <div class="container my-5">
        <div class="row">
          <div class="col-md-4 order-md-1">
            <a href="{% url 'register_pea' %}">
                <button type="button" class="btn btn-outline-primary">
                    Créer un PEA
                </button>
            </a> 
          </div>
          <div class="col-md-4 order-md-1">
            <a href="{% url 'register_order' %}">
                <button type="button" class="btn btn-outline-primary">
                    Ajouter un ordre
                </button>
            </a> 
          </div>
        </div>
    </div>

    <hr/>

    <div class="container my-5">
        <div class="row">         
            {% for p in pea %}
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h3 class="card-title text-uppercase mb-2">
                        {{p.name_pea}}
                      </h3>
                      <p>Ouverture: {{p.date}}</p>
                      
                      <!-- Heading -->
                      <h6 class="h2 mb-0">
                        {{p.current_value}} {{p.currency}}
                      </h6>

                      <!-- Badge -->
                      <p class="badge badge-soft-success mt-n1">
                        Risque: {{p.risk}}
                      </p>

                    </div>
                    <div class="col-auto">
                      <!-- Icon -->
                      <span class="h2 fe fe-dollar-sign mb-0"></span>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>



</main>
</div>
</div>
</body>

{% endblock content %}